@import "/src/style/fonts.css";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.content-box{
    position: relative;
}

.title{
    text-align: center;
    margin-top: 150px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 90px;
    color: #ff9e9e;
}

.ul{
    list-style-type: none;
    margin-top: 25px;

}

.ul li{
    max-width: 547px;
    margin: 0 auto;
    margin-bottom: 1px;
    box-shadow: 3px 3px 9px #e7e7e7;
}

.input{
    padding-left: 45px;
    position: relative;
    display: block;
    width: 500px;
    height: 50px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 26px;
    outline: none;
    border: 1px solid black;
}

.input::placeholder{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 26px;
    font-style: italic;
}

.arrow{
    display: block;
    position: absolute;
    width: 20px;
    top: 166px;
    left: 339px;
    color: green;
}

.tdl-item{
    display: flex;
    padding-left: 45px;
    border: 1px solid black;
    width: 500px;
    border-top: none;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 26px;
    text-align: left;
    list-style-type: none;
    height: 47px;
    position: relative;
}

.crist{
    display: block;
    position: absolute;
    width: 10px;
    left: 520px;
    top: 18px;
}

.pop{
    text-decoration: line-through;
    color: grey;
}


.control-panel{
    display: flex;
    justify-content: space-between;
}

.total{
    display: inline;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.text {
  display: block;
  width: 100%;
}

.changer{
  width: 100%;
  font-size: 24px;
}


.clear-wrapper{
  width: 100%;
  max-width: 110px;
}

.active-btn{
  background-color: #ff9e9e;
}


